@import "tailwindcss";

@theme {
  --color-primary: #008080;
  --color-secondary: #FFDAB9;
  --color-primary-cta: #F6A192;
  --color-primary-text: #333333;
  --color-primary-main: #FAF9F6;
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-primary-text);
    background-color: var(--color-primary-main);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-primary-text);
    background-color: var(--color-primary-main);
  }
}